<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="contactService.selectedContact.$key">
    <div class="form_group">
        <label>CPF</label> 
        <input class="cpf" name="cpf" #firstName="ngModel" [(ngModel)]="contactService.selectedContact.cpf" required autofocus>
    </div>
    <div class="form_group">
        <label>Nome</label> 
        <input class="first_name" name="firstName" #firstName="ngModel" [(ngModel)]="contactService.selectedContact.firstName" required>
    </div>
    <div class="form_group">
        <label>Endereço</label> 
        <input class="last_name" name="lastName" #firstName="ngModel" [(ngModel)]="contactService.selectedContact.lastName">
    </div>
    <div class="form_group">
        <label>Telefone</label> 
        <input class="phone" name="phone" #phone="ngModel" [(ngModel)]="contactService.selectedContact.phone">
    </div>
    <div class="form_group">
        <label>Email</label> 
        <input class="email" name="email" #email="ngModel" [(ngModel)]="contactService.selectedContact.email" required>
    </div>

    <div class="form_group">
        <label>Cadastrado em</label> 
        <input class="created" name="created" #created="ngModel" [(ngModel)]="contactService.selectedContact.created" disabled=true>
    </div>
    <div class="form_group">
        <label>Última alteração</label> 
        <input class="created" name="modifield" #modifield="ngModel" [(ngModel)]="contactService.selectedContact.modifield" disabled=true>
    </div>
    
    <div class="form_group form_buttons">
        <button type="submit" [disabled]="!contactForm.valid">Salvar</button>
        <button type="button" (click)="resetForm(contactForm)">Limpar</button>
    </div>
</form>
